.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.EntityList {
  margin: 20px;
}

.EntityItem {
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.InactiveEntityItem {
  margin-bottom: 10px;
  background-color: #c56969;
}